In [1]:
import pandas as pd
import matplotlib.pyplot as plt, matplotlib.image as mpimg
from sklearn.model_selection import train_test_split
from sklearn import svm
%matplotlib inline

In [5]:
labeled_images = pd.read_csv('./train.csv')

In [6]:
labeled_images.shape

(42000, 785)

In [7]:
images = labeled_images.iloc[0:5000,1:]

In [8]:
images.shape

(5000, 784)

In [17]:
labeled_images.iloc[:6,:6]

   label  pixel0  pixel1  pixel2  pixel3  pixel4
0      1       0       0       0       0       0
1      0       0       0       0       0       0
2      1       0       0       0       0       0
3      4       0       0       0       0       0
4      0       0       0       0       0       0
5      0       0       0       0       0       0

In [18]:
labels = labeled_images.iloc[0:5000,:1]

In [22]:
labels.head(30)

    label
0       1
1       0
2       1
3       4
4       0
5       0
6       7
7       3
8       5
9       3
10      8
11      9
12      1
13      3
14      3
15      1
16      2
17      0
18      7
19      5
20      8
21      6
22      2
23      0
24      2
25      3
26      6
27      9
28      9
29      7

In [26]:
train_images, test_images,train_labels, test_labels = train_test_split(images, labels, train_size=0.8, random_state=0)

In [27]:
train_images.shape

(4000, 784)

In [28]:
test_images.shape

(1000, 784)

In [29]:
train_labels.shape

(4000, 1)

In [31]:
i=1
img=train_images.iloc[i].as_matrix()

/home/wubin/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [32]:
img

array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0, 189, 131,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,  76, 252,  46,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0, 140, 253,  43,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0, 140, 195,   5,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0, 140, 122,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 182, 122,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 218,
       130,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0, 140, 203,   0,   0,   0,   0,   0,   0,   0,   5,  14,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0, 140, 185,   0,   0,   0,   0,   0,   0,  64, 195,
       238, 138,  20,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0, 140, 209,   0,   0,   0,   0,   0,  85,
       250, 201,  87, 199, 191,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0, 140, 210,   0,   0,   0,   0,
        58, 255, 156,   0,   0,  31, 216,  17,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0, 116, 251,  42,   0,
         0,   0,  88, 254,  72,   0,   0,   0, 155, 107,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  53, 253,
        65,   0,   0,   0,  88, 254,   8,   0,   0,   0, 123, 139,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
        42, 246, 130,   0,   0,   0,  88, 183,   1,   0,   0,   0, 123,
       139,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0, 219, 145,   0,   0,   0,  43, 243,  68,   0,   0,
         8, 205, 125,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0, 146, 223,   8,   0,   0,   0, 101, 119,
        88,   9,  56, 248,  45,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0, 123, 253, 130,   0,   0,   0,
         0,   0,   0,  24, 186, 200,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,  11, 175, 243, 156,
        41,   0,   0,   5,  70, 192, 175,  11,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
       104, 248, 250, 184, 184, 203, 251, 163,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,  33, 141, 165, 196, 141,  60,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0])

In [33]:
i=1
img=train_images.iloc[i]

In [35]:
img.shape

(784,)

In [37]:
i=1
img=train_images.iloc[i].as_matrix()

/home/wubin/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.